.home-page{

    .text-zone{
        position: absolute;
        left:10%;
        top: 50% ;
        transform: translateY(-50%);
        width: 40%;
        max-height: 90%;
    }

    .img{
        width: 26%;
        height: auto;
        display: block;
        float: right;
        margin-top: 160px;
        margin-right: 100px;
    }
    h1{

        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        font-size: 53px;
        margin: 0;
        &::before{
            content: '<h1>';
            font-family: cursive;
            color: #fdd700;
            font-size: 18px;
            position: absolute;
            margin-top: -40px;
            left: 15px;
            opacity: 0.6;
        }
        &::after{
            content: '</h1>';
            font-family: cursive;
            color: #fdd700;
            font-size: 18px;
            position: absolute;
            margin-top: 18px;
            margin-left: 20px;
            opacity: 0.6;
        }
    }
    h2{
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 20px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;

    }
    .flat-button{
        color: #fdd700;
        font-size: 13px;
        font-family: sans-serif;
        font-weight: 400;
        letter-spacing: 4px;
        text-decoration: none;
        padding: 10px 18px;
        border: solid 1px #fdd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;
        &:hover {
            background: #fdd700;
            color:#022c43;
        }

    }
}
